
   <div class="card">
       <div class="card-header">
        <p class="card-title">Persona</p>
       </div>
    <form class="card-body" method="post"">
        
        <div class="">
            <label  for="">Cedula</label>
            <input class="form-control"  name="cedula" type="text">
        </div>
        <div>
            <label for="">Nombre y Apellido</label>
            <input class="form-control" type="text" name="nombreyapellido">
        </div>
        <div>
            <label for="">Dirección</label>
            <textarea class="form-control" name="direccion" id=""></textarea>
        </div>
       <div class="row">
        <div class="col"> 
            <label for="">edad</label>
            <input class="form-control"  name="edad" type="number">
        </div>
        <div class="col">
            <label for="">Sexo</label>
            <input class="form-control" name="sexo" type="text">
        </div>
       </div>
        <div>
            <button class="btn btn-primary">Guardar</button>
        </div>
    </form>
   </div>